
p{
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
}

img{
	width: 500px;
	margin: 3px;
}

img:hover{
	box-shadow: 10px 10px 10px gray;
}

.active{
	color:white;
	background-color:lightblue;
}


